.single

  #content

  #primary
    width: 100%

  #main
    // +box-shadow

  #secondary
    display: none
    .search-field
      border: solid 1px $ns-gray

  .widget

  @media screen and (min-width: $bp-header)
    #content
      margin-left: auto
      margin-right: auto
      display: flex
      width: 85vw
      // max-width: 60em

    #primary
      width: calc(100% - 20em)

    #main
      margin-left: 1em
      border-radius: 1em

    .post
      +box-shadow
      border-radius: 1em
      // border-bottom-right-radius: 1em


    .entry-header
      border-top-left-radius: 1em
      border-top-right-radius: 1em
      a
        text-decoration: none
        &:hover
          text-decoration: underline

    .ns-post-content-wrapper
      border-bottom-left-radius: 1em
      border-bottom-right-radius: 1em

    #secondary
      display: block
      background: $ns-lt-gray
      margin: 1.5em 0 0 1em
      width: 18em
      flex: 0 1 auto
      +box-shadow
      border-radius: 1em

.blog
  @extend .single

.archive
  @extend .single

.search
  @extend .single
