.site-footer
  color: #fff
  background:
    image: -webkit-linear-gradient(rgba(40,40,40,0.00) 0%, rgba(40,40,40,0.80) 100%)
    image: -o-linear-gradient(rgba(40,40,40,0.00) 0%, rgba(40,40,40,0.80) 100%)
    image: linear-gradient(rgba(40,40,40,0.00) 0%, rgba(40,40,40,0.80) 100%)
  padding: 1em
  margin-top: 1.5em


.footer-nav
  width: 40%
  margin-bottom: 1em

h4.footer-nav-header
  color: #fff
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  +font-size(.88)
  font-weight: bold
  text-align: center
  text-transform: uppercase
  margin-bottom: .25em

.site-info
  text-align: center
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  ul
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
    +font-size(.75)
    font-weight: 400
    text-transform: uppercase
    list-style: none
    padding-left: 0
    margin: 0
    li
      i
        margin-right: .5em

@media screen and (min-width: 50em)
  .footer-nav
    width: 20%
    ul
      +font-size(1)
  h4.footer-nav-header
    +font-size(1.25)
    margin-bottom: .5em

.follow-us
  +clearfix

// icons
.social-icons
  +hide-text
  margin: 1em
  display: inline-block
  height: 1.5em
  width: 1.5em
  background:
    repeat: no-repeat
    size: cover
  @media screen and (min-width: 50em)
    height: 3em
    width: 3em

.icon-facebook
  @extend .social-icons
  background:
    image: url(/assets/img/icons/icon-facebook.svg)

.icon-twitter
  @extend .social-icons
  background:
    image: url(/assets/img/icons/icon-twitter.svg)

.icon-flickr
  @extend .social-icons
  background:
    image: url(/assets/img/icons/icon-flickr.svg)

.icon-google-plus
  @extend .social-icons
  background:
    image: url(/assets/img/icons/icon-google-plus.svg)

.contact-icons
  +hide-text
  display: inline-block
  height: 10px
  width: 12px
  background:
    repeat: no-repeat

.icon-email
  @extend .contact-icons
  background:
    image: url(/assets/img/icons/icon-email.svg)

.icon-phone
  @extend .contact-icons
  background:
    image: url(/assets/img/icons/icon-phone.svg)

.icon-fax
  @extend .contact-icons
  background:
    image: url(/assets/img/icons/icon-fax.svg)

.icon-address
  @extend .contact-icons
  background:
    image: url(/assets/img/icons/icon-address.svg)
