.navbar-header
  margin: 1em .25em 2em .25em
  @media(min-width: 37em)
    margin: 2em

.header-main-logo
  width: 12rem
  margin-bottom: 1.5rem
  +center-block

.navbar-header
  display: flex
  justify-content: flex-end
  align-items: baseline

@media screen and (min-width: 50em)
  .header-main-logo
    margin-top: -3em
    margin-left: 2em
    margin-bottom: 0
  .site-header
    background:
      image: url(/assets/img/headers/header-watercolor.png)
      size: cover
      position: bottom center
      repeat: no-repeat
      // image: linear-gradient(rgba(40,40,40,0.40) 0%, rgba(40,40,40,0.00) 80%)
