.site-header
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  width: 100%
  max-width: 56em
  margin: 1em auto 0 auto
  margin-left: auto
  margin-right: auto

.header-main-logo
  width: 100%
  text-align: center
  margin: 0 0 .5em 0
  img
    width: 12em
    margin: 0

.navbar-header
  margin: 0em
  @media(min-width: $bp-header)
    // margin: 2em

#header-image
  display: none

@media screen and (min-width: $bp-header)
  #header-image
    display: block
    position: fixed
    top: 0
    left: 0
    height: 375px
    width: 100%
    z-index: -1
    background:
      image: url(/assets/img/headers/site-header-min.jpg)
      size: cover
      position: top center
      repeat: no-repeat

  .header-main-logo
    width: 20%
    margin-right: 40%

  .navbar-header
    align-self: flex-start
