input[type="email"]
  position: relative
  top: 1px
  height: 3em
  margin-top: 1em
  width: 60%
  max-width: 20em
  padding: .5em 1em
  border: none
  border-radius: .25em
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  font-size: 12px
  color: $ns-dk-gray

  &:active,
  &:focus
    outline-color: $ns-lt-blue

// MailChimp

// Contact Form 7

// fields
.wpcf7-text
  @extend input[type="email"]
  width: 100% !important
  max-width: none !important

.wpcf7-textarea
  @extend .wpcf7-text
  height: 16em

.wpcf7-submit
  @extend .ns-green-btn
  color: #fff
  text-transform: uppercase
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  font-weight: bold
  +font-size(.75)
  padding: .25em 1em
  border: none
  border-radius: .25em
