input[type="email"],
input[type="search"]
  position: relative
  top: 1px
  height: 3em
  margin-top: 1em
  width: 60%
  max-width: 20em
  padding: .5em 1em
  border: none
  border-radius: .25em
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  font-size: 12px
  color: $ns-dk-gray

  &:active,
  &:focus
    outline-color: $ns-lt-blue

// search and submit

.search-form
  margin: 1em auto

  .search-submit
    @extend .textfield-btn
    @extend .ns-green-btn
    min-width: 5.5em
    width: 15%

#secondary
  section
    padding: 0 1em

#search-2 > form > label > input
  width: 60%
  top: 0
  -webkit-appearance: none

// fix safari and webkit crap
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  display: none

// MailChimp

// Contact Form 7
.wpcf7-text
  @extend input[type="email"]
  width: 100% !important
  max-width: none !important
  border: 1px solid $ns-gray

.wpcf7-textarea
  @extend .wpcf7-text
  height: 16em

.wpcf7-submit
  @extend .ns-green-btn
  color: #fff
  text-transform: uppercase
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  font-weight: bold
  +font-size(.75)
  padding: .25em 1em
  border: none
  border-radius: .25em

.wpcf7-mail-sent-ok
  background: $ns-green
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  color: #fff
  border: none !important
  border-radius: .25em
  padding: 1em !important

.wpcf7-validation-errors
  background: $ns-red
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
  color: #fff
  border: none !important
  border-radius: .25em
  padding: 1em !important

.wpcf7-not-valid-tip
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif

.wpcf7-validates-as-email
  border: 1px solid $ns-gray !important
