article
  padding: 0

section
  padding: 1.5em 1em
  margin-top: 1.5em
  // margin-bottom: 0

  @media(min-width: 28em)
    padding: 2em 2em

.section-header
  background: $ns-dk-gray
  margin: -1.5em -1em 1.5em -1em
  padding: 1em
  display: flex
  justify-content: center
  +box-shadow
  h2
    color: #fff
  &.blue
    background: $ns-blue
  &.red
    background: $ns-red
  @media(min-width: 28em)
    margin: -2em -2em 2em -2em
    border-top-right-radius: 1em
    border-top-left-radius: 1em

.section-text
  margin-left: auto
  margin-right: auto
  width: 90%
  +max-width(48)

.full-width-bg
  width: 100%
  +box-shadow

  text-align: center
  &.blue
    background:
      color: $ns-blue
    h1, h2, h3, p, a
      color: #fff

  &.lt-blue
    background:
      color: $ns-lt-blue
    h1, h2, h3, p
      color: #fff

  &.lt-gray
    background:
      color: $ns-lt-gray

  &.dk-gray
    background:
      color: $ns-dk-gray
    h1, h2, h3, p, a
      color: #fff

  &.red
    background:
      color: $ns-red
    h1, h2, h3, p, a
      color: #fff

  @media(min-width: 28em)
    width: 48em
    margin-left: auto
    margin-right: auto
    border-radius: 1em

// talk to us sections

.talk-to-us
  width: 100%
  text-align: center
  background: $ns-lt-blue
  +box-shadow
  h1, h2, h3, p, a
    color: #fff
  &.dk-gray
    background: $ns-dk-gray

  @media(min-width: 28em)
    width: 48em
    margin-left: auto
    margin-right: auto
    border-radius: 1em

.talk-to-us-content
  margin-left: auto
  margin-right: auto
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  width: 95%
  max-width: 45em

.talk-to-us-image
  width: 28%
  // min-width: 100px

.talk-to-us-text
  width: 65%
  padding: .25em
  h2
    display: inline-block

@media(min-width: 28em)
  .talk-to-us-content
    // justify-content: center
