article
  padding: 0

section
  padding: 1.5em 1em
  margin-top: 1.5em
  // margin-bottom: 0
  +box-shadow

  @media(min-width: 28em)
    padding: 2em 2em

.section-header
  background: $ns-dk-gray
  margin: -1.5em -1em 1.5em -1em
  padding: 1em
  display: flex
  justify-content: center
  +box-shadow
  h2
    color: #fff
  &.blue
    background: $ns-blue
  &.red
    background: $ns-red
  @media(min-width: 28em)
    margin: -2em -2em 2em -2em

.section-text
  margin-left: auto
  margin-right: auto
  width: 90%
  +max-width(62.5)

.full-width-bg
  width: 100%

  text-align: center
  &.blue
    background:
      color: $ns-blue
    h1, h2, h3, p, a
      color: #fff

  &.lt-blue
    background:
      color: $ns-lt-blue
    h1, h2, h3, p
      color: #fff

  &.lt-gray
    background:
      color: $ns-lt-gray

  &.dk-gray
    background:
      color: $ns-dk-gray
    h1, h2, h3, p, a
      color: #fff

  &.red
    background:
      color: $ns-red
    h1, h2, h3, p, a
      color: #fff

.talk-to-us
  width: 100%
  text-align: center
  background: $ns-lt-blue
  h1, h2, h3, p, a
    color: #fff

.talk-to-us-content
  display: flex
  flex-wrap: wrap
  justify-content: center

.talk-to-us-image
  width: 25%
  max-width: 150px


.talk-to-us-text
  width: 70%
  h2
    display: inline-block
